/* ||SCROLL BEHAVIOR */
body, html{
  scroll-behavior: smooth;
  font-family: "ysans-std", sans-serif;
  background: linear-gradient(333deg, rgba(37,6,113,1) 0%, rgba(128,10,64,1) 28%, rgba(27,4,17,1) 56%, rgba(37,6,113,1) 100%);
}

/* || KEYFRAMES ANIMATION */


/* || KEYFRAMES */
@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes gradientshine {
  from{
    background: linear-gradient(333deg, rgba(0,0,0,1) 0%, rgba(128,10,64,1) 92%, rgba(0,0,0,1) 100%);
  }
  to{
    background: linear-gradient(333deg, rgba(0,0,0,1) 0%, rgba(128,10,64,1) 6%, rgba(0,0,0,1) 100%);
  }
  
}

@keyframes arrowsScrollIndicator {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/* || HERO */
.hero{
  background: url(../assets/snorlaxsleeping.gif) center;
  height: 100dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

    /* Hero Button */
    .hero__button{
      display: block;
      position: absolute;
      bottom: 5%;
      right: 50%;
      transform: translate(-50% -50%);
      cursor: pointer;
    }
  
    /* Hero Scroll Arrows */
    .hero__button--arrows{
      /* mix-blend-mode: difference; */
      display: block;
      width: 20px;
      height: 20px;
      border-bottom: 1.5px solid white;
      border-right: 1.5px solid white;
      transform: rotate(45deg);
      margin: -8px;
      animation: arrowsScrollIndicator 1s infinite linear;
    }
  
    /* Hero Button Text Link */
    .hero__button__text{
      display: none;
    }
  
    /* Hero Scroll Arrow Span 1 */
    .hero__button > .hero__button--arrows:nth-child(1){
      animation-delay: 0.2s;
    }
  
    /* Hero Scroll Arrow Span 2 */
    .hero__button > .hero__button--arrows:nth-child(2){
      animation-delay: 0.3s;
    }
  
    /* Hero Scroll Arrow Span 3 */
    .hero__button > .hero__button--arrows:nth-child(3){
      animation-delay: 0.4s;
    }

.snorlaxvideo{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
}

/* Hero Title "Pokemon" */
.hero__title{
  width: 100%;
  max-width: 40rem;
  height: auto;
  z-index: 2;
}

/* Hero Pokeball */
.hero__pokeball{
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  max-width:4rem;
  animation: spin 4s infinite linear;
  cursor: pointer;
  z-index: 2;
}

/* || CONTENT */
.option-2-enhanced{
  min-height: fit-content;
  margin-inline: 1rem;
}

/* Title of the main */
.main__title{
  font-weight: 700;
  text-align: center;
  margin-bottom: 4rem;
  font-size: clamp(2rem, 5vw, 5vw);
  padding-top: 7rem;
  color: white;
}

/* Card Container */
.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

/* The Pokemon Cards */
.card{
  background-color: black;
  border-radius: 5px;
  max-width: 21.1875rem;
  flex: 1 0 50%;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.99, 0, 0, 1.01);
} 

/* Pokemon Cards hover effects */
.card:hover{
  animation: gradientshine 1s cubic-bezier(0.99, 0, 0, 1.01);
  background: linear-gradient(333deg, rgba(0,0,0,1) 0%, rgba(128,10,64,1) 6%, rgba(0,0,0,1) 100%);
  transform: translateX(6px) translateY(-6px);
  box-shadow:
   -6px 6px 0px 0px white, -5px 5px 0px 0px white, 
   -4px 4px 0px 0px white,  -3px 3px 0px 0px white,  
   -2px 2px 0px 0px white, -1px 1px 0px 0px white;
}

/* Pokemon cards onclick/active effect */
.card:active{
  transform: translateX(0) translateY(0);
  box-shadow: none;
}
/* Pokemon Card Header (Names) */
.header{
  font-weight: 700;
  font-size: 25px;
  text-transform: capitalize;
  padding-bottom: 10px;
  color: white;
  text-align: center;
}

/* Pokemon Card Subheader (types) */
.subheader{
  color: white;
  text-align: center;
}

/* Pokemon Search Bar */
input {
  border: 2px solid grey;
  font-size: 1rem;
  width: 80%;
  height: 1rem;
  border-radius: 25px;
  margin-bottom: 3rem;
  padding: 1rem;
}

/* Card Content */
.card-content {
  padding: 1rem;
}


.header,
.subheader {
  margin: 0;
} 

/* Pokemon Image */
.card > .pokemoncard {
  border-radius: 0.25rem 0.25rem 0 0;
  height: auto;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

/* Pokemon Image Hover Effect*/
.card > .pokemoncard:hover{
  transform: scale(1.3);
}

/* || FOOTER */
.footer{
  margin-top: 20rem;
  height: 30dvh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

/* Footer Title */
.footer__title{
  font-size: clamp(2rem, 4vw, 4vw);
  color: white;
  font-weight: 700;
}

/* Footer Button */
.footer__button{
  text-decoration: none;
  color: White;
  font-size: 20px;
  padding: 15px;
  font-weight: 700;
  background-color: rgb(133, 7, 7);
  transition: all 100ms;
}

/* Footer Button Hover Effect */
.footer__button:hover{
  transform: translateX(5px) translateY(-5px);
  box-shadow: 
  -6px 6px 0px 0px white, -5px 5px 0px 0px white, 
  -4px 4px 0px 0px white,  -3px 3px 0px 0px white,  
  -2px 2px 0px 0px white, -1px 1px 0px 0px white;
}

/* Footer Button Active Effect */
.footer__button:active{
  transform: translateX(0) translateY(0);
  box-shadow: none;
}

/* Index Numbers for the each of the Pokemon Cards */
.numbers{
  color: grey;
  text-align: center;
  padding-top: 0.5rem;
  font-size: 0.855rem;
}








