/* ||SCROLL BEHAVIOR */
body, html{
  scroll-behavior: smooth;
  font-family: "ysans-std", sans-serif;
  background-color: rgb(31, 30, 30);
}

/* || ROOT */


/* Keyframes Animations */
@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
/* ||HERO */
.hero{
  height: 100dvh;
  background: url(../assets/pokemonkanto.jpg) center/cover no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

/* Hero Title "Pokemon" */
.hero__title{
  width: 100%;
  max-width: 40rem;
  height: auto;
}

/* Hero Pokeball */
.hero__pokeball{
  position: absolute;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  max-width:4rem;
  animation: spin 4s infinite linear;
  cursor: pointer;
}

/* || CONTENT */
.option-2-enhanced{
  min-height: fit-content;
  margin-inline: 1rem;
}

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.card{
  background-color: black;
  border-radius: 4px;
  box-shadow: 0rem 0.125rem 1.5rem rgb(0 0 0 / 12%);
  max-width: 21.1875rem;
  flex: 1 0 50%;
  cursor: pointer;
  transition: all 100ms;
} 

.card:hover{
  transform: translateX(6px) translateY(-6px);
  box-shadow:
   -6px 6px 0px 0px #FF0000, -5px 5px 0px 0px #FF0000, 
   -4px 4px 0px 0px #FF0000,  -3px 3px 0px 0px #FF0000,  
   -2px 2px 0px 0px #FF0000, -1px 1px 0px 0px #FF0000;
}

.card:active{
  transform: translateX(0) translateY(0);
  box-shadow: none;
}

.main__title{
  font-weight: 700;
  text-align: center;
  margin-bottom: 4rem;
  font-size: clamp(2rem, 5vw, 5vw);
  padding-top: 7rem;
  color: white;
}

.header{
  font-weight: 700;
  font-size: 25px;
  text-transform: capitalize;
  padding-bottom: 10px;
  color: white;
  text-align: center;
}

.subheader{
  color: white;
  text-align: center;
}

input {
  border: 2px solid grey;
  font-size: 1rem;
  width: 80%;
  height: 1rem;
  border-radius: 25px;
  margin-bottom: 3rem;
  padding: 1rem;
}


.card-content {
  padding: 1rem;
}

.header,
.subheader {
  margin: 0;
} 

.pokemoncard {
  border-radius: 0.25rem 0.25rem 0 0;
  height: auto;
  width: 100%;
}

/* ||FOOTER */
.footer{
  margin-top: 20rem;
  height: 30dvh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.footer__title{
  font-size: clamp(2rem, 4vw, 4vw);
  color: white;
  font-weight: 700;
}

.footer__button{
  text-decoration: none;
  color: White;
  font-size: 20px;
  padding: 15px;
  font-weight: 700;
  background-color: rgb(133, 7, 7);
  transition: all 100ms;
}

.footer__button:hover{
  transform: translateX(5px) translateY(-5px);
  box-shadow: 
  -6px 6px 0px 0px white, -5px 5px 0px 0px white, 
  -4px 4px 0px 0px white,  -3px 3px 0px 0px white,  
  -2px 2px 0px 0px white, -1px 1px 0px 0px white;
}

.footer__button:active{
  transform: translateX(0) translateY(0);
  box-shadow: none;
}






